
<div id="conteudo-secao">
    <div class="conteudo-secao-inner">
        <table class="conteudo-secao-boxes">
            <tbody><tr class="conteudo-secao-boxes__line">
                <td class="conteudo-secao-boxes__col">
                    <div class="conteudo-secao-box">
                        <div class="topo-secao">
                            <div class="topo-secao__inner">
                                <span class="topo-secao__txt">Upcoming Events</span>
                            </div>
                        </div>
                        <div class="body-secao">
                            <div class="box-listagem__padding">
                                    <app-eventlist></app-eventlist>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
    </div>
</div>
