<!--<form (submit)="deleteReserve()" [formGroup]="deleteReserveForm">
    <label>Room Number</label>
    <br>
    <input type="text" name="rNum" formControlName="rNum">
    <br>
    <br>
    <label>Date of Reservation</label>
    <br>
    <input type="date" name="sDate" formControlName="sDate">
    <br>
    <br>
    <input type="submit" value="delete reservation">

</form>-->

<form class="box-listagem__item" (submit)="deleteReserve()" [formGroup]="deleteReserveForm">
    <div class="box-listagem__inner">
    <div class="headerGo" *ngIf="!(message =='')">
        <span >{{message}}</span><br />

    <br>

        <button *ngIf="!(message =='')" class="myButton" (click)="resetAll()">OK</button>
    </div>
    
    <div class="headerGO" *ngIf="(message =='')">
        
        <h3>Cancel A Reservation</h3>
    </div>
   
    

    <br>
    <div class="field">
    <span class="field--title">Input Room Number of Current Reservation: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input"  type="number" name="rNum" formControlName="rNum">
</div>
</div>
</div>
</div>
    <span *ngIf="deleteReserveForm.controls['rNum'].invalid && deleteReserveForm.controls['rNum'].touched">
        <span *ngIf="deleteReserveForm.controls['rNum'].errors['required']"> The Original Room Number is Required</span>
        </span>
    <br /><br />
    <div class="field">
    <span class="field--title">Input Date of Reservation: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input" type="date" name="sDate" formControlName="sDate"> 
</div>
</div>
</div>
</div>
  <!--   <span *ngIf="deleteReserveForm.controls['changeValue'].invalid && deleteReserveForm.controls['changeValue'].touched">
        <span *ngIf="deleteReserveForm.controls['changeValue'].errors['pattern']">The options are date, length, or room</span>
        <span *ngIf="deleteReserveForm.controls['changeValue'].errors['required']"> You must choose either date, length, or room</span>
        </span> -->
    <br /><br />
    <input class="myButton" type="submit" value="Delete Reservation" >
    <br /><br />
</div>
</form>
