<div class="cards">
<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="content-section implementation">
        
<p-card styleClass="ngx-color" header="Number of Book Requests" [style]="{'height':'9.8rem','width': '25rem', 'margin-bottom': '2em'}">
    <strong><p>{{this.numBookRequests}}</p></strong>
</p-card>
</div>
</div></div>
<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="content-section implementation">
<p-card styleClass="ngx-color" header="Number of Patrons" [style]="{'height':'9.8rem','width': '25rem', 'margin-bottom': '2em'}">
    <strong><p>{{this.numPatrons}}</p></strong>
</p-card>
</div>
</div></div>
<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="content-section implementation">
<p-card styleClass="ngx-color" header="Number of Events" [style]="{'height':'9.8rem','width': '25rem', 'margin-bottom': '2em'}">
    <strong><p>{{this.numEvents}}</p></strong>
</p-card>
</div>
</div></div>
<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="content-section implementation">
<p-card styleClass="ngx-color" header="Number of Unpaid Fees" [style]="{'height':'9.8rem','width': '25rem', 'margin-bottom': '2em'}">
    <strong><p>{{this.totalFees}}</p></strong>
</p-card></div>
</div></div>
<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="content-section implementation">
<p-card styleClass="ngx-color" header="" [style]="{'height':'9.8rem','width': '25rem', 'margin-bottom': '2em'}">
    <strong><p></p></strong>
</p-card></div>
</div></div>
<div class="box-listagem__item">
    <div class="box-listagem__inner">
        <div class="content-section implementation">
<p-card styleClass="ngx-color" header="" [style]="{'height':'9.8rem','width': '25rem', 'margin-bottom': '2em'}">
    <strong><p></p></strong>
</p-card></div>
</div></div></div>

