<!--<form (submit)="showReserve()" [formGroup]="formOne">
    <label>Patron Id</label>
    <input type="text" name="pid" formControlName="pid">
    <input type="submit" value="show reservations">

</form>
<div *ngIf="reservations!=[]">
    <div *ngFor="let r of reservations">
        Room Number: {{r.roomNumber}}
        &nbsp;
        Date: {{r.reservedDate}}
        &nbsp;
        Time: {{r.startTime}}
        &nbsp;
        Duration: {{r.duration}}
        &nbsp;
        Capacity: {{r.capacity}}
    </div>
</div>

<div class="headerGO" *ngIf="bool==true">
    <span >{{message}}</span>
    <button (click)="emptyMsg()">OK</button>
</div>
-->
<form class="box-listagem__item" (submit)="showReserve()" [formGroup]="formOne">
    <div class="box-listagem__inner">
        <br>
        <div class="headerGO">
            
            <h3>Check Open Reservation</h3>
        </div>
        <br>
    <div class="field">
    <span class="field--title">Input Your Patron Id: </span>
    <div class="simple-input">
        <div class="bordered">
          <div class="simple-input--inner">
    <input class="simple-input" type="number" name="pid" formControlName="pid">
</div>
</div>
</div>
</div>
    <span *ngIf="formOne.controls['pid'].invalid && formOne.controls['pid'].touched">
        <span *ngIf="formOne.controls['pid'].errors['required']"> Your Patron Id is Required</span>
        </span>
 
    <br /><br />
    <input class="myButton" type="submit" value="Show Reservations" [disabled]="!formOne.valid">
    <br /><br />
</div>
</form>

<div class="box-listagem__item" >
    <div class="box-listagem__inner">
        <br>
        <div class="headerGO"> 
            <h3>All Personal Open Reservation</h3>
        </div>
<br>
        <div >
            <div class="listGO" *ngFor="let r of reservations">
                Room Number: {{r.roomNumber}}
                &nbsp;
                Date: {{r.reservedDate}}
                &nbsp;
                Time: {{r.startTime}}
                &nbsp;
                Duration: {{r.duration}}
                &nbsp;
                Capacity: {{r.capacity}}
            </div>
            <br>
            <br>
            <button *ngIf="!(message=='')" class="myButton" (click)="resetAll()">OK</button>
            <br>
        </div>
    </div>
</div>
    <br>
    <br>
    <br>
    

