<h2>Fee List</h2>
<div id="conteudo-secao">
    <div class="conteudo-secao-inner">
        <table class="conteudo-secao-boxes">
            <tbody>
                <tr class="conteudo-secao-boxes__line">
                    <td class="conteudo-secao-boxes__col">
                        <div class="conteudo-secao-box">
                            <div class="topo-secao">
                                <div class="topo-secao__inner">
                                    <a class="checkbox checkbox-select-itens push-left" href="#"><i
                                            class="fa fa-check"></i></a>
                                    <span class="topo-secao__txt">Fee Management</span>
                                </div>
                            </div>
                            <div class="body-secao">
                                <div class="box-listagem__padding">
                                    <div class="fee-list">
                                        <div class="box-listagem__item">
                                            <div class="box-listagem__inner">
                                                <div class="box_listagem__field">
                                                    Select a Patron to Manage Fees:
                                                    <select [(ngModel)]="selectedOption">
                                                        <option *ngFor="let p of patrons" [value]="p.username">
                                                            {{p.name}}
                                                        </option>
                                                    </select> &nbsp;&nbsp;
                                                    <button (click)="select()">Select</button> &nbsp;&nbsp;
                                                    <button *ngIf="showAdd" (click)="addFee()">Add Fee</button>
                                                </div>
                                            </div>
                                            <div class="box-listagem__item" *ngFor="let f of fees, let i = index">
                                                <div class="box-listagem__inner">
                                                    <div class="box_listagem__field" *ngIf="!emptyFee">
                                                        Patron: <strong>{{f.patronName}}</strong>&nbsp;
                                                        Type: {{f.feeType}}&nbsp;
                                                        Amount: ${{f.total}}&nbsp;
                                                        Date Paid: {{f.datePaid}}
                                                        <span *ngIf="f.datePaid == null">UNPAID&nbsp;&nbsp;</span>
                                                        <button (click)="editClicked(i)">Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="showEdit">
                                                <form class="box-listagem__item" [formGroup]="feeForm"
                                                    (ngSubmit)="onEditSubmit()">
                                                    <label>Type: </label>
                                                    <input type="text" name="type" formControlName="type"> &nbsp;&nbsp;
                                                    <label>Amount: $</label>
                                                    <input type="text" name="amount" formControlName="amount"> &nbsp;&nbsp;
                                                    <button type="submit" >Update</button>
                                                </form>
                                            </div>
                                            <div *ngIf="showAddForm">
                                                <form class="box-listagem__item" [formGroup]="addForm"
                                                    (ngSubmit)="onAddSubmit()">
                                                    <label>Type: </label>
                                                    <input type="text" name="type" formControlName="type"> &nbsp;&nbsp;
                                                    <label>Amount: $</label>
                                                    <input type="text" name="amount" formControlName="amount"> &nbsp;&nbsp;
                                                    <button type="submit" >Add</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>